<ion-view view-title="Help" hide-back-button="true">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-content>




<ion-item  class=" item item-text-wrap ">
<div class="item item-divider">
1. How do i book a water supply tanker?
</div><p class=" item item-text-wrap">
You can Book the water supply Tanker by clicking on "Book now" tab from the "Booking" option on the side menu.
</p>
</ion-item>

<ion-item  class="item item-text-wrap">
<div class="item item-divider">
2. What are my payment option?
</div><p class="item item-text-wrap">
You can pay Cash on Delivery or Pay through our Payment Gateway through the application.
</p>
</ion-item >

<ion-item   class ="item item-text-wrap">
<div class="item item-divider">
3. Is my tank capacity of any relevance?
</div><p class= "item item-text-wrap"> 
The tank capacity informs us of the available storage so that we can supply the amount of water to fill it repectively.
</p>
</ion-item > 

    

    </ion-content>
</ion-view>
